<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite"> <!-- // BS-6 -->
  
  <test thread-count="5" name="Test1"> <!--  BT-6 -->
  
    <classes>      
      <class name="com.test.Test4"/>  <!-- m1 -->
      <class name="com.test.Test5"/>   <!-- m2 -->
      <class name="com.test.Test6"/>   <!-- BC -BM -login-AM-AC -->     
    </classes>    
  
  </test> <!-- AT-6 -->
  
  
</suite>  <!--  // AS-6 -->
